.title-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-beige-100);
  width: 1045px;
  height: 1024px;
}
.welcome-back-while,
.welcome-text {
  position: absolute;
  display: inline-block;
}
.welcome-text {
  top: 238px;
  left: 38px;
  width: 422px;
  height: 110px;
}
.welcome-back-while {
  top: 313px;
  left: 34px;
  font-size: 24px;
  font-family: var(--font-merriweather-sans);
  color: #0b4e17;
  width: 874px;
  opacity: 0.7;
}
.title-item {
  position: absolute;
  top: 195px;
  left: 3px;
  width: 1036px;
  height: 3px;
}
.home-icon,
.home-icon2,
.home-icon3,
.home-icon4 {
  position: absolute;
  height: 8.69%;
  width: 8.52%;
  top: 4.39%;
  right: 60.86%;
  bottom: 86.91%;
  left: 30.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-icon2,
.home-icon3,
.home-icon4 {
  right: 60.67%;
  left: 30.81%;
}
.home-icon3,
.home-icon4 {
  top: 4.59%;
  bottom: 86.72%;
}
.home-icon4 {
  right: 60.86%;
  left: 30.62%;
}
.status-chart-child,
.title {
  position: absolute;
  top: 0;
  left: 399px;
  width: 1045px;
  height: 1024px;
}
.status-chart-child {
  left: 0;
  border-radius: 50%;
  background-color: var(--color-deepskyblue);
  width: 237.61px;
  height: 214.31px;
}
.status-chart-item {
  position: absolute;
  top: 0.4px;
  left: 28px;
  border-radius: var(--br-31xl);
  width: 215.11px;
  height: 214.31px;
}
.percentage,
.status-chart {
  position: absolute;
  top: 70.85px;
  left: 90.39px;
  width: 237.61px;
  height: 214.31px;
}
.percentage {
  top: 162px;
  left: 182px;
  font-size: var(--font-size-16xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  display: inline-block;
  width: 90px;
  height: 38px;
}
.crop-status-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 50.05px;
  height: 44.28px;
  overflow: hidden;
}
.crop-status2 {
  position: absolute;
  top: 7.97px;
  left: 56.05px;
  display: inline-block;
  width: 188.18px;
  height: 34.54px;
}
.crop-status1 {
  position: absolute;
  top: 6.2px;
  left: 9.01px;
  width: 244.23px;
  height: 44.28px;
  font-size: var(--font-size-9xl);
  color: var(--color-darkolivegreen-100);
}
.date-of-harvesting,
.date-of-sowing {
  position: absolute;
  top: 325.89px;
  left: 11.01px;
  display: inline-block;
  width: 158.15px;
  height: 22.14px;
}
.date-of-harvesting {
  top: 356.89px;
  width: 195.19px;
}
.crop-status,
.crop-status-child {
  position: absolute;
  width: 467px;
  height: 387px;
}
.crop-status-child {
  top: 0;
  left: 0;
  background-color: var(--color-darkolivegreen-300);
}
.crop-status {
  top: 446px;
  left: 670px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-merriweather);
}
.settings-logo-icon {
  position: absolute;
  top: 14px;
  left: 34px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.settings {
  position: absolute;
  top: 24px;
  left: 112px;
  font-weight: 500;
  display: inline-block;
  width: 260px;
  height: 30px;
}
.crop-tab,
.settings-tab,
.settings-tab-child {
  position: absolute;
  left: 0;
  width: 399px;
  height: 81px;
}
.settings-tab-child {
  top: 0;
  background-color: var(--color-gainsboro-200);
}
.crop-tab,
.settings-tab {
  top: 831px;
}
.crop-tab {
  top: 716px;
}
.fertilizers-logo-icon {
  position: absolute;
  height: 61.73%;
  width: 12.53%;
  top: 18.52%;
  right: 78.95%;
  bottom: 19.75%;
  left: 8.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fertilizers {
  position: absolute;
  top: 25px;
  left: 111px;
  font-weight: 500;
  display: inline-block;
  width: 260px;
  height: 30px;
}
.fertilizers-tab {
  position: absolute;
  height: 7.91%;
  width: 100%;
  top: 58.59%;
  right: 0;
  bottom: 33.5%;
  left: 0;
}
.weather-logo-icon {
  position: absolute;
  height: 61.73%;
  width: 12.53%;
  top: 16.05%;
  right: 78.95%;
  bottom: 22.22%;
  left: 8.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.weather-forecast {
  position: absolute;
  top: 23px;
  left: 112px;
  font-weight: 500;
  display: inline-block;
  width: 260px;
  height: 30px;
}
.weather-tab {
  position: absolute;
  height: 7.91%;
  width: 100%;
  top: 47.56%;
  right: 0;
  bottom: 44.53%;
  left: 0;
}
.notifications-logo-icon {
  position: absolute;
  height: 61.73%;
  width: 12.53%;
  top: 30.86%;
  right: 80.2%;
  bottom: 7.41%;
  left: 7.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notifications {
  position: absolute;
  top: 35px;
  left: 107px;
  font-weight: 500;
  display: inline-block;
  width: 260px;
  height: 30px;
}
.home-logo-icon,
.notifications-tab {
  position: absolute;
  height: 7.91%;
  width: 100%;
  top: 35.16%;
  right: -1.25%;
  bottom: 56.93%;
  left: 1.25%;
}
.home-logo-icon {
  height: 100%;
  width: 13.7%;
  top: 0;
  right: 86.3%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home {
  position: absolute;
  top: 10px;
  left: 105px;
  font-weight: 500;
  display: inline-block;
  width: 260px;
  height: 30px;
}
.home-logo-parent,
.home-text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.home-text {
  height: 61.73%;
  width: 91.48%;
  top: 18.52%;
  bottom: 19.75%;
  left: 8.52%;
}
.current-tab-indicator {
  position: absolute;
  top: -2px;
  left: 1px;
  border-radius: 0 var(--br-base) var(--br-base) 0;
  background-color: var(--color-white);
  width: 8px;
  height: 81px;
  display: none;
}
.home-tab-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 399px;
  height: 81px;
  opacity: 0;
}
.home-tab {
  position: absolute;
  height: 7.91%;
  width: 100%;
  top: 25.49%;
  right: 0;
  bottom: 66.6%;
  left: 0;
}
.line-details-icon,
.main-logo-icon {
  position: absolute;
  top: 173px;
  left: 0;
  width: 0;
  height: 0;
}
.main-logo-icon {
  top: 6px;
  left: 11px;
  width: 539px;
  height: 197px;
  object-fit: cover;
}
.goagrosmart {
  position: absolute;
  top: 74px;
  left: 133px;
  font-weight: 600;
  display: inline-block;
  width: 349px;
  height: 68px;
}
.main-text {
  position: absolute;
  top: -6px;
  left: -11px;
  width: 539px;
  height: 197px;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
}
.sidebar-expanded-sidebar {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: var(--color-darkolivegreen-100);
  width: 399px;
  height: 1024px;
  overflow: hidden;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
}
.crop-stage-button,
.dashboard-home-child,
.fertilizers-button,
.home-button,
.notif-button,
.settings-button,
.weather-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-beige-400);
  position: absolute;
  top: 250px;
  left: 19px;
  border-radius: var(--br-31xl);
  width: 363px;
  height: 112px;
}
.crop-stage-button,
.fertilizers-button,
.home-button,
.notif-button,
.settings-button,
.weather-button {
  background-color: var(--color-beige-300);
  top: 373px;
  left: 16px;
}
.crop-stage-button,
.fertilizers-button,
.home-button,
.settings-button,
.weather-button {
  top: 460px;
}
.crop-stage-button,
.fertilizers-button,
.home-button,
.settings-button {
  top: 587px;
}
.crop-stage-button,
.home-button,
.settings-button {
  top: 698px;
}
.home-button,
.settings-button {
  top: 815px;
}
.home-button {
  top: 248px;
}
.weather,
.weather-header {
  position: absolute;
  width: 841px;
  height: 120px;
}
.weather {
  top: 0;
  left: 0;
  display: inline-block;
}
.weather-header {
  top: 43px;
  left: 440px;
  font-size: var(--font-size-61xl);
}
.dashboard-home-item {
  position: absolute;
  top: 196px;
  left: 0;
  width: 396px;
  height: 2.04px;
}
.dashboard-home {
  text-decoration: none;
  position: relative;
  background-color: var(--color-beige-200);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 48px;
  color: var(--color-darkolivegreen-100);
  font-family: var(--font-montserrat);
}
